# ========================================
# ========= These are required ===========
# ========================================

CV_LINK="[path/to/CV.pdf]"
WORK_HOURS="[Work Hours]"           # e.g. Part-time, Freelance, <=30h (Week) , etc.
MIN_SALARY="[Min Salery]"           # e.g. 75000 (Yearly), etc.

# ========================================
# ============ Recommended ===============
# ========================================

USER_LINKEDIN="[linkedin.com/in/your-profile]"
USER_PORTFOLIO="[github.com/your-profile]"

# ========================================
# === These can be parsed from the CV. ===
# ========================================

# Personal Info
USER_NAME="[Your Name]"
USER_PHONE="[Your Phone]"
USER_EMAIL="[Your Email]"

# Job Search Criteria
TARGET_LOCATIONS="[Locations]"      # e.g. Remote, Hybrid, New York, etc.
TARGET_POSITIONS="[Positions]"      # e.g. Software Developer, Architect, etc.
TARGET_INDUSTRIES="[Industry]"      # e.g. Information Technologies, Generative AI, etc.
